*{
	margin: 0px 0px;
	padding: 0px 1px;
}
hr{
	border: 1px solid;
}
body{
	font-family: 'roboto', sans-serif;
	color:#333;
	font-size: 12px;
}
.wrapper{
	width: 100%;
	margin: auto;
	
}

header{
background-color: #000000; /*#F0F0F0 */
width: 100%;
height: 40px;
margin: 0px 0px;
padding: 0px -6px;
box-shadow: 2px -1px 2px black;
border-left: 1px solid black;
border-radius: 3px;
border-bottom: 2px solid black;
position: fixed;
}
.corpo{
}
/*aside{
background-color: #F0F0F0 ;
width: 248px;
height: 563px;
float: left;
margin: 0px 0px;
padding: 0px 0px;
overflow: auto;
border-radius: 10px;
margin-bottom: 3px;
box-shadow: 2px -1px 2px black;
border-left: 2px solid black;
margin-right: 5px;

}*/
/*center*/

.center{
	margin: auto;
	width: 1000px;
	border-left: 2px solid black;
	border-right: 2px solid black;
}
section{
background-color: #E0E0E0;
width: 1000px;
height: 600px;
float: center;
margin: 0px 0px;
padding: 0px 0px;
/*box-shadow: 2px -1px 2px black;*/
border-radius: 10px;
margin-bottom: 4px;


}
footer{
width: 100%;
height: 50px;
position: relative;
background-color: #696969;
clear: both;
border-top: 3px solid black;
box-shadow: 2px -1px 2px black;
border-left: 1px solid black;
border-radius: 10px;

}
h1{
	color: red;
	text-align: center;
	
}
.logo  h1{
	text-align: left;
	text-transform: uppercase;
	position:;
	margin-top: 3px;
	
	}
h2{
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
}

ul{
	margin: 18px 0 0 0 ;
	position: relative;
}
li{
	margin: 3px;
	background-color: #C0C0C0 ;
	padding: 5px 10px;
	text-transform: uppercase;
	border-radius: 10px;
	
}
li:hover{
	background-color: #FFFFFF;			
}
.sem-marcador{
	text-decoration: none;
	margin-top: 10px;
}
ul.inline li{
	display: inline-block;
	padding: 4px;
	border-radius: 10px;
	
}
nav .ul-horizontal{
	position: absolute;
	margin-right; 10px;
	margin-left: auto;
	margin-top: -30px;
margin-left: 270px;	
}
a{
	text-decoration: none;
	
}
a:hover{
	text-decoration: underline;
	color: #000000;
}
.botoes{
	text-align:center;
}
footer {
	text-align: center;
}
/*FORMULARIOS */

.form{
	display:block;
    width: 602px;
    margin: 0 auto;
	
}
fieldset{
	padding: 10px;
	margin-bottom:10px;
	margin: 5px 25px;
	width: 500px;
	margin-top: 55px;
	text-transform: uppercase;
	
}
.esquerda{
	text-align: right;
}

